* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(92, 88, 88);
    font-family: 'Poppins', sans-serif;

}

nav {
    background-color: rgb(2, 2, 2, 0.4);
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 5vw;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    font-size: 1.5vw;
    margin: 0 2vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: brown;
    font-size: 1.7vw;
}

.left {
    font-size: 1.8rem;
    color: orangered;
    text-shadow: 2px 5px 4px rgba(18, 194, 85, 0.904);
}
main{
    width: 100%;
}

.first {
    display: flex;
    justify-content: space-around;
    margin: 8vw 0;
}

.first>div {

    width: 30%;
}

.lefs {
    font-size: 2.2rem;
   
}
.lefs button{
    height: 4vw;
    margin-top: 3vw;
    width: 12vw;
    color: orangered;
    background-color: rgb(39, 119, 131);
    border: 2px solid rgb(241, 21, 21);
    cursor: pointer;
    border-radius: 2vw;
}
.lefs button:hover{
    background-color: brown;
    color: black;
}

.rights {

    width: 100%;
}

.rights img {

    width: 120%;
    margin-right: 4vw 0;
}

.pname {
    font-family: "Sofia", sans-serif;
    color: rgb(80, 6, 6);
    text-shadow: 2px 5px 4px rgba(102, 155, 42, 0.904);
}


#element {
    font-family: "Sofia", sans-serif;
    color: rgb(231, 3, 3);
}

main hr {
    border: 0;
    background: white;
    height: 1.2px;
    margin: 4vw 8vw;
}

.about {
    height: 60vh;

  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lefta {
    width: 30%;
    align-items: center;



}

.lefta img {

    width: 29vw;
    border-radius: 17vw;
    height: 29vw;
    border: 2px solid black;
    box-shadow: 2px 0px 26px 9px rgb(180, 14, 116);
}

.lefta img:hover {
    transform: scale(1.1, 1.1);
}

.hd {
    text-align: center;
    font-size: 3vw;
    font-family: 'Rowdies', cursive;
}

.righta {
    width: 40vw;

align-items: center;
justify-content: center;
    text-align: center;
}

.righta h1 {
    color: rgb(235, 211, 211);
    font-size: 2.2vw;
    font-style: italic;
    text-shadow: 2px 5px 4px rgb(226, 172, 23);
}

.righta p {
    font-size: 1.5vw;

}

.secounds {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secounds h1 {
    font-size: 2rem;
}

.txg {
    color: gray;

}

.secounds .box {
    background: white;
    width: 78vw;
    height: 2px;
    margin: 56px 0;
    display: flex;

}

.secounds .vertical {
    background-color: white;
    height: 93px;
    width: 1px;
    top: 1px;
    margin: 0 90px;
}

.img-top {
    width: 23px;
    position: relative;
    top: 75px;
    left: -9px;
}

.vertical-t {
    color: wheat;
    position: relative;
    top: 5vw;
    font-size: 1.5vw;
    width: 15vw;
}

.vertical-des {
    position: relative;
    top: 86px;
    color: rgb(20, 1, 27);
    width: 10vw;
    font-size: 1.3vw;
}

footer {
    background-color: black;
    height: 15vw;
    width: 100%;
}

.project {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    text-align: center;
}

.pro1 {
    align-items: center;
    justify-content: center;
    width: 30%;
    cursor: pointer;
}

.pro1 h3 {
    color: rgb(231, 209, 231);
    font-size: 2vw;
    text-shadow: 2px 5px 4px rgb(231, 49, 25);
}

.pro1 img {

    border-radius: 2vw;
    height: 15vw;
    width: 26vw;
    margin-top: 2vw;
    box-shadow: 2px 0px 23px 3px rgb(241, 161, 13);
}
.pro1 button{
    height: 3vw;
    margin-top: 1vw;
    width: 7vw;
    color: orangered;
    background-color: rgb(22, 224, 224);
    border: 2px solid rgb(116, 187, 24);
    cursor: pointer;
    border-radius: 2vw;
}
.pro1 button:hover{
    background-color: rgb(103, 224, 22);
}

.footer {
    display: flex;
  width: 100%;
    justify-content: space-evenly;
    height: 2vw;
}

.footer ul {
    margin-top: 2vw;
    list-style: none;
}

.footer-s ul li {
    text-decoration: none;
    color: wheat;
    margin:0.5vw;
}

.footer>div {
    width: 23vw;
}

.footer .footer-rights {
    text-align: center;
    color: gray;
}

.footer-f {
    color: wheat;
    width: 50%;
}

.footer-s ul li a {
    text-decoration: none;
    color: white;
    margin-top: 2vw;
}

.footer-s ul li a:hover {
    color: blue;
}
.arr {
    color: wheat;
    width: 50%;
    cursor: pointer;
    
}
.footer h3{
    margin-top: 3vw;
}
.tcon {
    width: 28%;
    float: left;
    height: 8vw;
    margin-left: 5vw;
    margin-top: 5vw;
    border-radius: 15%;
}

.tcon i {
    size: 2vw;
}

.tcon h3 {
    color: rgb(34 29 24);
    font-weight: bold;
    font-size: 2vw;

    font-family: cursive;
    text-transform: uppercase;
    text-align: center;
}

.tcon p {
    font-family: "Sofia", sans-serif;
    color: rgb(34 29 24);

    font-size: 1.3vw;
    padding: 1.3vw;
}

.contact {
    height: 32vw;
    width: 100%;
  
}

.contact h1 {
    color: rgb(34 29 24);
    font-weight: bold;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: 'Rowdies', cursive;
    text-transform: uppercase;
    text-align: center;
    height: 8vw;
}

.lname {
    font-family: "Sofia", sans-serif;
    color: rgb(34 29 24);
    text-align: justify;
    width: 50%;
    float: left;
    

}

.con h3 {
    color: rgb(34 29 24);
    font-weight: bold;
    font-size: 2vw;

    font-family: cursive;
    text-transform: uppercase;

}

.con {
    margin-top: 2vw;
    margin-left: 3vw;
    width: 69%;
    height: 15%;
    float: left;
    
}

.con h5 {
    color: rgb(34 29 24);
    font-weight: bold;
    font-size: 1vw;

    font-family: cursive;
    text-transform: uppercase;

}


.icocon {
    float: left;

}

.incon {
    float: left;
    margin-left: 1vw;
}
.rig{
    float: left;
    width: 50%;
    cursor: pointer;

}
.incon h3:hover{
    color: rgb(240, 117, 72);
}
